.App {
  text-align: center;
}


body {
  font-family: 'Major Mono Display', monospace;
  background-color: #b4cdd4;
  margin: 0;
}
h1{
  text-decoration: underline overline;
  letter-spacing: 2px;
}

.VideoPlayer, .projectImg{
  max-width: 600px;
  max-height: 600px;
}
.projectBlock{
  margin-top: 20px;
  border-top: 1px solid white;
  text-align: center;
}
.headerComponent{
  margin-top: 20px;
}
.top_menu_class{
  padding-top: 0px;
}
.p{
  display: inline-block;
  font-family: 'Indie Flower', cursive;
}
.my_img{
  vertical-align:top;
  display: inline-block;
  width: 100px;
  height: 100px;
}
.speaker{
  text-align: center;
  width: 100px;
  height: 100px;
}
.latest{
  text-align: center;
  padding-top: 70px;
  font-size: 30px;
  font-style: bold,
}

/* NAVBAR */
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
 .nav-header2 {
   height: 3px;
   background: white;
   position: fixed;
   margin-top: 40px;
   -webkit-animation: dude .65s 1 forwards;
   -moz-animation: dude .65s 1 forwards;
   -o-animation: dude .65s 1 forwards;
   animation: dude .65s 1 forwards;
 }
 @-webkit-keyframes dude {
   0% {
     width: 0;
   }
   100% {
     width: 100%;
   }
 }
 @-moz-keyframes dude {
   0% {
     width: 0;
   }
   100% {
     width: 100%;
   }
 }
 @-o-keyframes dude {
   0% {
     width: 0;
   }
   100% {
     width: 100%;
   }
 }
 @keyframes dude {
   0% {
     width: 0;
   }
   100% {
     width: 100%;
   }
 }
* {
  box-sizing: border-box;
}
.top-menu {
    background-color: #b4cdd4;
    min-height: 60px;
    user-select: none;
    transition: all 0.8s ease-in;
}
.top-menu > .right {
    float: right;   
}

.top-menu > .right > * {
    margin-left: 5px;
}

.top-menu > .left {
    float: left;
    
}

.top-menu > .left > * {
    margin-right: 5px;
}

.top-menu > .left > *, .top-menu > .right > * {
    padding: 11.4px;
    display: inline-block;
    text-align: center;
    min-width: 50px;
}

.top-menu *:hover{
    cursor: pointer;
    background-color: grey;
}

.clear-fix {
    clear: both;
}

.top-menu .top-menu-icon {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
/* End NavBar*/

.projectContent{
  font-family: 'Open Sans', Sans-serif;
  max-height: 800px;
  max-width: 700px;
  
  text-align: center;
}
.ft_icon{
  font-size: 64px;
  height: 64px;
}
/*Footer*/
.legal_footer{
margin-top: 20px;
padding-bottom: 20px;
text-align: center;
color: white;
border-top: 1px solid white;
}
.legal{
  padding-top: 20px;
}
/* end footer */



/* Media query */
@media screen and (max-width: 600px) {
.top-menu {
  max-height: 0;
  overflow: hidden;
}
.top-menu > .right {
  display: none;
}
.top-menu > .left{
  margin-top: 0;
}
.top-menu-icon {
  width: 50px;
  height: 50px;
  display: block !important;
}
}

@media screen and (max-width: 600px) {
.top-menu.toggled {
  background-color: orange;
  padding: 60px 0 0 0;
  min-height: 1500px;
  transition: all 0.8s ease-in;
}
.top-menu.toggled > .left {
    border-bottom: 1px solid black;
    margin: 15px 0 0 0 ;
}
.top-menu.toggled *:not(.top-menu-lead):not(.top-menu-icon) {
    float: none;
    display: block !important;
    text-align: left;
    margin: 0;
}
}
@media screen and (min-width: 300px) and (max-width: 870px){
.projectBlock{
  padding-top: 90px;
}
.projectImg{
  height: 100%;
  width: 100%;
  text-align: center;
}
}
@media only screen and (min-width: 850px) {
  .container{
  text-align: center;
  max-width: 900px;
  margin-top: 60px;
  margin-left: 15%;
}
.projectImg{
  
  height: 100%;
  width: 100%;
  margin-left: -50px;
}
.projectBlock{
  padding-top: 90px;
  display: flex;
}

}








